h1 {
    color: red;
}

h2 {
    color: blue;
}

h3 {
    color: green;
}

.general {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bold;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-12 {
    font-size: 12px;
}